In [1]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import StandardScaler
london_data = pd.read_csv('London_Housing_Policy_Dataset.csv', parse_dates=['Date'])
london_data = london_data.sort_values('Date')

scaler = StandardScaler()
X_scaled = scaler.fit_transform(london_data.drop(columns=['Date']))
X = pd.DataFrame(X_scaled, columns=london_data.columns[1:], index=london_data['Date'])
london_data_sd=X.reset_index()
london_data_sd.to_csv("London_Housing_Policy_Dataset_sd.csv", index=False)

In [2]:
london_data_sd

,Date,Average_Housing_Price,Weekly_Earnings,Employment_Rate,Benefit Caseload,Housing Supply,Euro Rate,Interest Rate,Seasonal_Diff
0,2009-01-01,-1.790378,-1.151831,-1.015628,0.230935,-0.780860,-1.325377,0.288866,-2.669965
1,2009-02-01,-1.825122,-1.151831,-0.903238,0.247464,-0.780860,-0.814495,-0.040287,-2.685501
2,2009-03-01,-1.852767,-1.151831,-1.154297,0.293319,-0.780860,-1.402379,-0.369440,-2.707086
3,2009-04-01,-1.873244,-1.182109,-1.293380,0.326395,-0.982648,-0.972943,-0.369440,-2.824829
4,2009-05-01,-1.823572,-1.182109,-1.424641,0.354252,-0.982648,-0.768590,-0.369440,-2.655258
...,...,...,...,...,...,...,...,...,...
187,2024-08-01,1.183071,2.052053,1.265820,-1.905270,-2.334251,-0.108146,2.592935,-0.332052
188,2024-09-01,1.191820,2.052053,1.322332,-2.015981,-2.334251,0.131746,2.592935,-0.505932
189,2024-10-01,1.085279,2.052053,1.423254,-2.081904,-1.991591,0.233923,2.592935,-0.509080
190,2024-11-01,1.012152,2.052053,1.333089,-2.155246,-1.991591,0.272424,2.428359,-0.506967
191,2024-12-01,1.012442,2.052053,1.333089,-2.183183,-1.991591,0.392370,2.428359,-0.561903

In [14]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import StandardScaler
NW_data = pd.read_csv('North_West_Housing_Policy_Dataset.csv', parse_dates=['Date'])
NW_data = NW_data.sort_values('Date')

scaler = StandardScaler()
X_scaled = scaler.fit_transform(NW_data.drop(columns=['Date']))
X = pd.DataFrame(X_scaled, columns=NW_data.columns[1:], index=NW_data['Date'])
NW_data_sd=X.reset_index()
NW_data_sd.to_csv("North_West_Housing_Policy_Dataset_sd.csv", index=False)

In [10]:
NW_data_sd

,Date,Average_Housing_Price,Weekly_Earnings,Employment_Rate,Benefit Caseload,Housing Supply,Euro Rate,Interest Rate
0,2009-01-01,-1.025891,-1.104066,0.031666,0.354520,-1.771025,-1.321155,0.292601
1,2009-02-01,-1.042841,-1.104066,-0.004609,0.410367,-1.771025,-0.810063,-0.037066
2,2009-03-01,-1.115311,-1.104066,-0.655363,0.428600,-1.771025,-1.398189,-0.366733
3,2009-04-01,-1.016581,-1.215335,-0.675076,0.460677,-1.651656,-0.968576,-0.366733
4,2009-05-01,-1.002018,-1.215335,-0.828855,0.501159,-1.651656,-0.764139,-0.366733
...,...,...,...,...,...,...,...,...
188,2024-08-01,2.049761,2.364837,1.164405,-1.716971,-0.038048,-0.103423,2.600270
189,2024-09-01,2.066404,2.364837,0.962781,-1.771010,-0.038048,0.136567,2.600270
190,2024-10-01,2.078784,2.364837,0.748241,-1.803260,-0.905602,0.238786,2.600270
191,2024-11-01,2.145866,2.364837,0.399317,-1.852682,-0.905602,0.277303,2.435436
192,2024-12-01,2.107533,2.364837,0.399317,-1.879788,-0.905602,0.397298,2.435436